<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Wizard's Word - Mundo bruxo</title>
		
		<!-- JQuery -->
          <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
          <script src="js/cadastro.js"></script>
          <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
          <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" ></script>
         
		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	
		<!-- incluindo css -->
		<link href="css/cadastro.css" rel="stylesheet">

  </head>
  	<script>
	$(document).ready(function(){
      $('#btn_cadastrar').click(function(){
        var formDados = document.getElementById('contact_form');
        var formData = new FormData(formDados);
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function(){
          if(xhr.readyState == 4 || xhr.readyState == 1){
              var resposta = xhr.responseText;
              var display = document.getElementById('mensagem').style.display;
              if(display == "none")
                document.getElementById('mensagem').style.display = 'block';
              else
                document.getElementById('mensagem').style.display = 'none';

              document.getElementById('mensagem').innerHTML = "Successo! <i class='glyphicon glyphicon-thumbs-up'></i> Obrigado por se cadastrar. Você já pode fazer o <a href='/'>login</a>.";
          }
        }
        xhr.open('POST', '/cadastro');
        xhr.send(formData);
      });
      $('#btn_voltar_cadastro').click(function(){
        window.location.href= '/jogo';
      });

      $('#btn_atualizar').click(function(){
          var formData = new FormData();
          var nome_real = $('#nome_real').val();
          var data_nascimento = document.getElementById('data_nascimento').value;
          var email = document.getElementById('email').value;
          var senha =document.getElementById('senha').value;
          var redesocial = document.getElementById('redesocial').value;
          var biografia = document.getElementById('biografia').value;
          var linhagem = document.getElementById('linhagem').value;
          var arquivo = document.getElementById('arquivo').files[0];
          formData.append('nome_real',nome_real);
          formData.append('data_nascimento',data_nascimento);
          formData.append('email', email);
          formData.append('senha', senha);
          formData.append('redesocial',redesocial);
          formData.append('biografia',biografia);
          formData.append('linhagem',linhagem);
          formData.append('arquivo', arquivo);
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function(){
            if(xhr.readyState == 4){
                var resposta = xhr.responseText;
                var display = document.getElementById('mensagem').style.display;
                if(display == "none")
                  document.getElementById('mensagem').style.display = 'block';
                else
                  document.getElementById('mensagem').style.display = 'none';

                document.getElementById('mensagem').innerHTML = "Successo! <i class='glyphicon glyphicon-thumbs-up'></i> Sua conta foi atualizada.";
            }
          }
          xhr.open("POST", "/atualizar_cadastro");
          xhr.send(formData);
      });
  });
    </script>
	<body>
          <div class="container dadada">
              <form class="well form-horizontal" id="contact_form">
          <fieldset>

          <legend>Cadastre-se</legend>
        <div class="alert alert-success" role="alert" id="mensagem" style="display: none;"></div>
        <% if(msg == 'I'){ %>
        <div class="alert alert-success" role="alert" id="success_message">Successo! <i class="glyphicon glyphicon-thumbs-up"></i> Obrigado por se cadastrar. Você já pode fazer o <a href="/">login</a>.</div>
        <%} else if(msg == 'E'){ %>
        <div class="alert alert-danger" role="alert" id="error_message">Ops! <i class="glyphicon glyphicon-remove"></i> Algo se comportou como não devia. Por favor, verifique.</div>
        <%} else if(msg == 'X'){ %>
        <div class="alert alert-danger" role="alert" id="error_message">Ops! <i class="glyphicon glyphicon-envelope"></i> Já existe cadastro para este e-mail.</div>
        <%} else if(msg == 'P'){ %>
        <div class="alert alert-danger" role="alert" id="error_message">Ops! <i class="glyphicon glyphicon-user"></i> Já existe um personagem com este mesmo nome.</div>
        <%}%>
          <div class="form-group">
               <label class="col-md-4 control-label">Nome real</label>  
               <div class="col-md-6 inputGroupContainer">
                    <div class="input-group">
                         <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                         <input  name="nome_real" id="nome_real" placeholder="Seu nome" class="form-control"  type="text" value="<%= dadosForm.nome_real %>">
                    </div>
               </div>
          </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Data de nascimento</label>  
               <div class="col-md-6 inputGroupContainer">
                    <div class="input-group">
                         <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                         <input name="data_nascimento" id="data_nascimento" placeholder="Data de nascimento" class="form-control" type="date" value="<%= dadosForm.data_nascimento %>">
                    </div>
               </div>
        </div>

          <div class="form-group">
          <label class="col-md-4 control-label">E-mail</label>  
               <div class="col-md-6 inputGroupContainer">
                    <div class="input-group">
                         <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                         <input name="email" id="email" placeholder="E-Mail" class="form-control"  type="text" value="<%= dadosForm.email %>">
                    </div>
               </div>
          </div>

          <div class="form-group">
          <label class="col-md-4 control-label">Senha</label>  
               <div class="col-md-6 inputGroupContainer">
                    <div class="input-group">
                         <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                         <input name="senha" id="senha" placeholder="*******" class="form-control" type="password">
                    </div>
               </div>
          </div>
               
          <div class="form-group">
            <label class="col-md-4 control-label">Rede social</label>  
             <div class="col-md-6 inputGroupContainer">
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                  <input name="redesocial" id="redesocial" placeholder="Digite a url da sua rede social favorita" class="form-control" type="text" value="<%= dadosForm.redesocial %>">
              </div>
            </div>
          </div>

          <div class="form-group">
          <label class="col-md-4 control-label" >Nome do personagem</label> 
               <div class="col-md-6 inputGroupContainer">
                    <div class="input-group">
                         <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                         <input name="nome_personagem" id="nome_personagem" placeholder="Nome do personagem" class="form-control"  type="text" value="<%= dadosForm.nome_personagem %>" id="nome_personagem" <% if(msg == 'AT'){ %> disabled<%}%>>
                    </div>
               </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Biografia do personagem</label>
              <div class="col-md-6 inputGroupContainer">
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                      <textarea class="form-control" id="biografia" name="biografia" placeholder="Descrição do seu personagem."><%= dadosForm.biografia %></textarea>
            </div>
            </div>
          </div> 
          <div class="form-group"> 
          <label class="col-md-4 control-label">Linhagem da família</label>
               <div class="col-md-6 selectContainer">
                    <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                         <select name="linhagem" id="linhagem" class="form-control selectpicker" <% if(msg == 'AT'){ %> disabled<%}%>>
                              <option value=" ">Por favor, selecione uma linhagem</option>
                              <option value="1">Puro Sangue</option>
                              <option value="2">Mestiço</option>
                              <option value="3">Sem sangue bruxo</option>
                         </select>
                    </div>
               </div>
          </div>
          <div class="form-group">
          <label class="col-md-4 control-label">Imagem do personagem</label>
               <div class="col-md-7 inputGroupContainer imagem">
                       <div class="col-xs-12 col-md-12 col-md-offset-6 col-sm-8 col-sm-offset-2">  
                           <div class="input-group image-preview">
                               <input type="text" class="form-control image-preview-filename" disabled="disabled">
                               <span class="input-group-btn">
                                   <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                       <span class="glyphicon glyphicon-remove"></span> Clear
                                   </button>
                                   <div class="btn btn-default image-preview-input">
                                       <span class="glyphicon glyphicon-folder-open"></span>
                                       <span class="image-preview-input-title">Browse</span>
                                       <input type="file" name="arquivo" id="arquivo" class="form-control">
                                   </div>
                               </span>
                           </div>
                      
                   </div>
               </div>

            </div>

          <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-12">
              <% if(msg == 'AT'){ %> 
                <button type="button" class="btn btn-warning" id="btn_atualizar"> Atualizar <span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" class="btn btn-warning" id="btn_voltar_cadastro"> Voltar <span class="	glyphicon glyphicon-arrow-left"></span></button>
              <%} else {%>
              <button type="button" class="btn btn-warning" id="btn_cadastrar">Enviar <span class="glyphicon glyphicon-send"></span></button>
              <%}%>
            </div>
          </div>

          </fieldset>
          </form>
          </div>
		
</body>
</html>